.toTop {
    position: fixed;
    bottom: 65px;
    right: -7px;
    opacity:0.3
}

.toTop:hover{
    opacity:0.8
}
#loading{
    display: none
}
#resultList{
    margin-top: 10px;
}

.table-responsive > table{
    table-layout: fixed;
}

#infoBoxList td{
    word-wrap: break-word;
    line-height: 1.7em;
}
#infoBoxList .content{
    word-wrap: break-word;
    line-height: 1.7em;
}

.navbar-default {
    border-color: #00A14E;
}

.navbar-fixed-top {
    border-width: 0 0 5px;
}

ul, ol {
    padding-left: 1.5em;
}

.list-unstyled {
    padding-left: 1em;
}

.li-active {
    background-color: #ebebeb
}

.domainNode .title, .predicateNode .title {
    cursor:pointer;
}
