.toTop{
	position: fixed;
    bottom: 65px;
    right: -7px;
	opacity:0.3
}
.toTop:hover{
	opacity:0.8
}
#loading{
    display: none
}
#resultList{
    margin-top: 10px;
}

.table-responsive > table{
    table-layout: fixed;
}

#infoBoxList td{
    white-space:pre;
    word-wrap: break-word;
    line-height: 1.7em;
}
#infoBoxList .content{
    white-space:pre;
    word-wrap: break-word;
    line-height: 1.7em;
}
